html, body {
  margin: 15px 25px;
  background-image: url(images/light-blue-marble-tile.jpg);
  background-attachment: fixed;
}

#home {
  text-align: center; text-decoration: overline underline;
}

#nav a {
  text-decoration: none;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
}

p {    
  text-align: center;
  padding: 15px;
}

#c, #j, #f, #a, #s {
  float: left;
  text-align: center;
}

#cp, #jp,#fp, #ap, #sp {
  display: block;
  width: 250px;
  height: auto;
}

#display {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}
