html {
  background-image: url(/style/images/Image001.jpg);
  font-family: 'Comic Sans', cursive;  
  background-repeat: no-repeat;
  background-size: cover;
  margin: -30;
  overflow: auto;
} /** for the overall code **/

.header {
  padding: 0px 40px;
  width: 100%;
  height: 60px;
  background: #808080;
  color: #f1f1f1;
  position: fixed;
  /* control stacking order for positioned element */
  z-index: 1;
} /** for the navigation bar **/

#logo {
  width: 18px;
  height: 18px;
} /** for the logo on the nav bar **/

h4 {
  font-size: 18px;
}

h1 {
  font-size: 40px; 
}

h2 {
  font-size: 25px;
}

p {
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 90%;
}

.home {
  margin: 20px;
  padding: 50px 50px 0;
  text-align: center;
} /** for the homepage and webpage text **/

.calm, .joy, .sad, .anxious {
  width: auto;
  height: auto;
  float: left;
  margin: -5px 3px 60px;
  border: 1px solid grey;
  padding: 3px;
  background-color: white;
} /** for the container of the individual redirect links in the homepage **/

#c, #j, #s, #a {
  width: 250px;
  height: 250px;
  border: 1px dashed grey;
  padding: 2px;
} /** for the images used in the homepage **/

.woo {
  margin: 0px auto;
  width: 80%;
} /** for the container of the all redirect links in the homepage **/

.a, .b, .c, .d {
  width: auto;
  height: auto;
  border: 1px solid grey;
  padding: 3px;
  margin: 5px;
  background-color: white;
  float: left;
} /** for the container of the images in the webpages **/

#pic {
  width: 350px;
  height: 350px;
  border: 1px dashed grey;
  padding: 2px; 
  cursor: pointer;
  z-index: -1;
} /** for the images used in the webpages **/

#pic:hover {
  opacity: 0.5;
  z-index: -1;
}

.woo2 {
  margin: 0px auto;
  width: 54%;
} /** for the container all of the images in the webpages **/

.text {
  text-align: center;
} /** for the title of the images in the webpages **/

.footer {
  clear: both;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 30%;
}

.song {
  float: left;
  text-align: center;
  width: 300px;
  background-color: white;
  margin-top: -330px;
  margin-left: 10px;
  z-index: 0;
}

.stext {
  background-color: gray;
  
}
